<div class="oj-flex">
    <div class="oj-panel oj-sm-2" >
        <div class="oj-panel">
            <oj-form-layout id="fl1" >
                <oj-select-single required id="Database" label-hint="Select Database Alias"  class="oj-form-control-max-width-md" label-edge="inside" data="[[DBDetDP]]" value="{{currentDB}}" on-oj-value-action="[[dbchangeActionHandler]]" >
                </oj-select-single>

                <oj-select-many required id="srcschema" label-hint="Choose Schema Name" class="oj-form-control-max-width-md" 
                    label-edge="inside" options="{{schemaListDP}}" value="{{schemaListSelected}}" on-value-changed="[[schemachangeActionHandler]]">
                </oj-select-many>
                <oj-bind-if test="[[tableDetail().length > 0 ]]">
                    <oj-select-single
                        label-hint="Selection Mode"
                        id="selection-mode"
                        value="{{selectedSelectionMode}}"
                        data="[[selectionModeDP]]"
                        class="demo-table-select-single"></oj-select-single>
                </oj-bind-if>
            </oj-form-layout>
            <div>
                <div class="oj-sm-padding-4x-top oj-typography-body-lg oj-text-color-secondary">
                    Excluded Tables
                </div>
                <oj-list-view id="listview" aria-label="simple list" data="[[excludeDataProvider]]"
                    gridlines.item="visible"
                    selection-mode="single"
                    scroll-policy="loadMoreOnScroll"
                    scroll-policy-options.fetch-size="15"
                    class="oj-listview-item-padding-off oj-sm-padding-4x-bottom">
                    <template slot="itemTemplate" data-oj-as="item">
                        <oj-list-item-layout>
                            <span class="oj-typography-body-md oj-text-color-primary">
                                <oj-bind-text value="[[item.item.data.name]]"></oj-bind-text>
                            </span>
                        </oj-list-item-layout>
                    </template>
                </oj-list-view>
            </div>
        </div>
    </div>

    <div class="oj-panel oj-sm-10" >
        <div class="oj-panel oj-flex-bar">
            <oj-input-text id="filter" class="oj-form-control-max-width-md" label-hint="Filter"
                label-edge="inside" placeholder="Type to filter" on-raw-value-changed="[[handleValueChanged]]"
                value="{{filter}}" clear-icon="always"></oj-input-text>
                &nbsp;
            <oj-bind-if test="[[selectedSelectionMode().row === 'multiple' ]]">
                <oj-button disabled="[[excludeButtonVal]]" class="oj-button-sm oj-flex-bar-end" chroming="solid"
                    on-oj-action='[[automateExcludeModal]]'>Automate</oj-button>
                    &nbsp;
            </oj-bind-if>
            <oj-bind-if test="[[selectedSelectionMode().row === 'single' ]]">
                <oj-button disabled="[[buttonValAutomate]]" class="oj-button-sm oj-flex-bar-end" chroming="solid"
                    on-oj-action='[[automateModal]]'>Automate</oj-button>
                    &nbsp;
            </oj-bind-if>
            
            
            <oj-button disabled="[[buttonValReport]]" class="oj-button-sm oj-flex" chroming="solid"
                on-oj-action='[[viewReportModal]]'>Summary</oj-button>
                &nbsp;
            <oj-button disabled="[[buttonValReport]]" class="oj-button-sm oj-flex" chroming="solid"
                on-oj-action='[[downloadTableReport]]'>Download Report</oj-button>
        </div>
        <div><oj-progress-bar id="progressBar" value="{{progressValue}}"></oj-progress-bar></div>
        <div class="oj-panel oj-margin oj-panel-alt1 oj-panel-shadow-lg">
            <oj-table id='table' aria-label='All Table' data='[[tableDetailDP]]' display='grid'
                columns='{{CountDetailcolumnArray}}' selected='{{selectedItems}}'
                selection-mode=[[selectedSelectionMode]]
                
                on-selected-changed='{{selectedChangedListener}}' scroll-policy="loadAll"
                style='width: 100%;'>
                <template slot="rowTemplate" data-oj-as="row">
                    <td>
                        <oj-bind-text value="[[row.data.tabname]]"></oj-bind-text>
                        <oj-bind-if test="[[row.data.output === 'Success']]">
                            <oj-bind-text ><span class="check" style="float:right">&#10004</span></oj-bind-text>
                        </oj-bind-if>
                        <oj-bind-if test="[[row.data.output === 'Error']]">
                            <oj-bind-text ><span class="cross" style="float:right">&#10006</span></oj-bind-text>
                        </oj-bind-if>
                    </td>
                </template>
            </oj-table>
            <oj-paging-control id="paging" data="[[tableDetailDP]]" page-size="20"
                slot="bottom">
            </oj-paging-control>
        </div>
    </div>
</div>

<div class="oj-flex">
    <div class="oj-panel oj-sm-5" >
        <div class="oj-panel oj-flex-bar">
            <oj-text-area id="text-area" value="{{tableDDL}}" rows="35" style="width: 100%; min-width: 100%" label-hint="Source Table DDL"></oj-text-area>
        </div>
    </div>
    <div class="oj-panel oj-sm-1" >
        <div class="oj-panel oj-flex-bar">
            <oj-form-layout id="fl1" >
                <div class="oj-panel io-color demo-center-items">
                    <h7>Target Deployment</h7>
                </div>
                <oj-select-single required id="tgtschema" label-hint="Choose Target Deployment" class="oj-form-control-max-width-md" 
                    label-edge="inside" data="{{onepDepListDP}}" value="{{TgtOnePDepName}}"
                    on-value-changed="[[SelectTGTDeployment]]">
                </oj-select-single>
                    <oj-select-single required label-hint="Choose Credential Alias" label-edge="inside" class="oj-form-control-max-width-md" 
                        id="CredentialAlias" data="[[TgtDBDetDP]]" value="{{TGTcurrentPDB}}"
                        on-value-changed="[[DBTgtSchema]]">
                    </oj-select-single>
                    <oj-button disabled="[[buttonVal]]" class="oj-button-sm oj-flex-bar-end" chroming="solid"
                    on-oj-action='[[clickConvert]]'>Convert</oj-button>
            </oj-form-layout>
        </div>
    </div>
 <div class="oj-panel oj-sm-5" >
        <div class="oj-panel io-color demo-center-items">
            <div class="oj-panel io-color demo-center-items">
            <h7>Target Database Details</h7>
        </div> 

        <oj-table id='dbTgtDetList' aria-label='All Table' data='[[dbTgtDetListDP]]' display='grid'
            scroll-policy="loadMoreOnScroll"
            selection-mode='{"row": "single"}' columns='{{TgtdbDetcolumnArray}}' class="demo-table-container"
            style='width: 100%;'>
        </oj-table>
    </div>
        <div class="oj-panel oj-flex-bar">
            <oj-text-area id="text-area" value="{{tableDDLConvertedText}}" rows="35" style="width: 100%; min-width: 100%" label-hint="Target Table DDL"></oj-text-area>
        </div>
        <div class="oj-panel oj-flex-bar">
        <oj-button disabled="[[buttonVal]]" class="oj-button-sm oj-flex-bar-end" chroming="solid"
        on-oj-action='[[SaveDDL]]'>Save</oj-button>   
    </div> 
    </div>
    <oj-dialog id="SelectSchemaDialog" title="Fetching Schema Details" modality="modeless"
    style="display:none;width:350px;min-width:240px;max-width:450px;">
    <div slot="body">
        <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
        </oj-progress-bar>
    </div>
</oj-dialog>

    <oj-dialog id="SelectSchemaViewDialog" title="Work in Progress" modality="modeless"
    style="display:none;width:350px;min-width:240px;max-width:450px;">
    <div slot="body">
        <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
        </oj-progress-bar>
    </div>
</oj-dialog>

<oj-dialog id="openDialog" title="Table Creation Dialog" modality="modeless"
style="display:none;width:550px;min-width:550px;max-width:550px;">
<div slot="body">
   <oj-bind-text value="{{saveDDLMsg}}" ></oj-bind-text>
</div>
<div slot="footer">
    <div class="oj-panel  oj-sm-margin-4x-bottom" style="width: 100%;">
    <div class="oj-flex-bar">
    <oj-button id="okdelButton" chroming='solid' class="oj-flex-bar-end" on-oj-action="[[saveOKTable]]">
        OK
    </oj-button>
    </div>
    </div>
    </div>
</oj-dialog>

<oj-dialog id="autoMateDlg" title="Enter Target Details" modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
<div slot="body">
    <div class="oj-panel ">
        <oj-form-layout id="fl1" readonly="[[isFormReadonly()]]">
            <div class="oj-panel io-color demo-center-items">
                <h7>Target Deployment</h7>
            </div>
            <oj-select-single required id="tgtschema" label-hint="Choose Target Deployment" class="oj-form-control-max-width" 
                label-edge="inside" data="{{onepDepListDP}}" value="{{TgtOnePDepName}}"
                on-value-changed="[[SelectTGTDeployment]]">
            </oj-select-single>
                <oj-select-single required label-hint="Choose Credential Alias" label-edge="inside" class="oj-form-control-max-width-md" 
                    id="CredentialAlias" data="[[TgtDBDetDP]]" value="{{TGTcurrentPDB}}"
                    on-value-changed="[[DBTgtSchema]]">
                </oj-select-single>
        </oj-form-layout>
    </div>
</div>
<div slot="footer">
    <oj-button id="okdelButton" chroming='solid'  on-oj-action="[[automateClose]]">
        Cancel
    </oj-button>
    <oj-button id="okdelButton" chroming='solid'  on-oj-action='[[automateTable]]'>
        Automate
    </oj-button>
    </div>
</oj-dialog>


<oj-dialog id="autoMateExcludeDlg" title="Enter Target Details" modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
<div slot="body">
    <div class="oj-panel ">
        <oj-form-layout id="fl1" readonly="[[isFormReadonly()]]">
            <div class="oj-panel io-color demo-center-items">
                <h7>Target Deployment</h7>
            </div>
            <oj-select-single required id="tgtschema" label-hint="Choose Target Deployment" class="oj-form-control-max-width" 
                label-edge="inside" data="{{onepDepListDP}}" value="{{TgtOnePDepName}}"
                on-value-changed="[[SelectTGTDeployment]]">
            </oj-select-single>
                <oj-select-single required label-hint="Choose Credential Alias" label-edge="inside" class="oj-form-control-max-width-md" 
                    id="CredentialAlias" data="[[TgtDBDetDP]]" value="{{TGTcurrentPDB}}"
                    on-value-changed="[[DBTgtSchema]]">
                </oj-select-single>
        </oj-form-layout>
    </div>
</div>
<div slot="footer">
    <oj-button id="okdelButton" chroming='solid'  on-oj-action="[[automateExcludeClose]]">
        Cancel
    </oj-button>
    <oj-button id="okdelButton" chroming='solid'  on-oj-action='[[ExcludeTableGetDetails]]'>
        Automate
    </oj-button>
    </div>
</oj-dialog>

<oj-dialog id="convertResultDialog" dialog-title="Converting....">
    <div slot="body" style="max-height: 600px; overflow-y: auto; white-space: pre-wrap; word-wrap: break-word;">
        <pre data-bind="text: convertResult"
            style="
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: break-word;
                overflow-wrap: break-word;
                font-family: monospace;
                max-width: 100%;
                ">
        </pre>
        <!-- <oj-bind-text value="[[convertResult]]"></oj-bind-text> -->
    </div>
    <div slot="footer">
        <oj-button id="okButton" on-oj-action="[[closeConvertResultDialog]]">OK</oj-button>
    </div>
</oj-dialog>
